<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.forpet.model.vo.Member" alias="member" />
		<typeAlias type="com.forpet.model.vo.Vet" alias="vet"/>
		<typeAlias type="com.forpet.model.vo.BoardSearch" alias="boardSearch"/>
		<typeAlias type="com.forpet.model.vo.MemberFriend" alias="memberFriend"/>
		<typeAlias type="com.forpet.model.vo.MemberMsg" alias="memberMsg"/>
		<typeAlias type="com.forpet.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.forpet.model.vo.Event" alias="event"/>
		<typeAlias type="com.forpet.model.vo.Pet" alias="pet"/>
		<typeAlias type="com.forpet.model.vo.Board" alias="board"/>
		<typeAlias type="com.forpet.model.vo.Attachment" alias="attachment"/>
		<typeAlias type="com.forpet.model.vo.Image" alias="image"/>
		<typeAlias type="com.forpet.model.vo.BoardComment" alias="boardComment"/>
		<typeAlias type="com.forpet.model.vo.HealthInfo" alias="healthInfo"/>
		<!-- 추후 추가 
		<typeAlias type="com.forpet.model.vo.Member" alias="member"/>
		<typeAlias type="com.forpet.model.vo.Pet" alias="pet"/>
		<typeAlias type="com.forpet.model.vo.Board" alias="board"/>
		 -->

	</typeAliases>

</configuration>
