div.adminMain_right{
    float: right;
    width: 820px;
    text-align: center;
    padding-bottom: 60px;
}

div.adminMain_right .memberListBox_main{
	display:inline-block;
	width:810px;
}
div.adminMain_right .memberListBox_main table{
	border-collapse:collapse;
	border-top: 2px solid rgb(139, 85, 38);
    margin: 10px;
}

div.adminMain_right .memberListBox_main table th{
	font-size: 14px;
	font-weight: normal;
	color: #252525;
    height: 40px;
    border-top: 2px solid #252525;
}
div.adminMain_right .memberListBox_main table tr{
	height:40px;
	border-bottom:1px solid #eee;
}
div	.adminMain_right .memberListBox_main table tr:hover{
	transition:500ms;
	background-color:#f9efe6;
}