/* ------------------------------------------------------------- */
/* 게시판 CSS */


        .board-wrapper
        {
         /*    font-family: 'Noto Sans KR'; */
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            font-size: 14px;
        }
        
		.board-title
	     {
	        font-size: 25px;
	        padding: 25px 0;
	     }
     
         .board-table
        {
            border-top: 2px solid rgb(139, 85, 38);
            border-bottom: 1px solid #ccc;
            display: flex;
            flex-flow: column nowrap;
            font-size: 14px;
        }

        .table-header
        {
            display: flex;
            padding: 15px 0;
        }


        .table-header > div
        {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .table-header > div:nth-of-type(1){flex: 2 1 0;}
        .table-header > div:nth-of-type(2){flex: 15 1 0;}
        .table-header > div:nth-of-type(3){flex: 3 1 0;}
        .table-header > div:nth-of-type(4){flex: 2 1 0;}
        .table-header > div:nth-of-type(5){flex: 3 1 0;}
     
          .table-row
        {
            display: flex;
            padding: 15px 0;
            border-top: 1px solid #ccc;
        }
        .table-row:hover
        {
            background-color: rgb(255,250,245);
        }

        .table-row > div
        {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        

        .table-row > div:nth-of-type(1){flex: 2 1 0;}
        .table-row > div:nth-of-type(2){flex: 15 1 0;}
        .table-row > div:nth-of-type(3){flex: 3 1 0;}
        .table-row > div:nth-of-type(4){flex: 2 1 0;}
        .table-row > div:nth-of-type(5){flex: 3 1 0; color: gray; font-size: 11px;padding-top: 2px;}
        .table-row:last-of-type{border-bottom: 1px solid black;}
  
  
  
        .pagebar img
        {
            width: 50%;
            height: 50%;
        }

        .pagebar
        {
            display: flex;
            align-self: center;
            margin: 40px;
            font-size: 14px;
            color: black;
        }
        

        .pagebar div
        {
            width: 33px;
            height: 33px;
            border: 1px solid rgb(220, 220, 220);
            border-left: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .pagebar div:first-of-type
        {
            border-left: 1px solid rgb(220, 220, 220);
        }
        
        .pagebar a
        {
        	display: flex;
        	width: 100%;
        	height: 100%;
        	align-items: center;
        	justify-content: center;
        	text-decoration: none;
        	color: black;
        }
        .currentPage
        {
        	background-color: rgb(240,240,240);
        }
        
        
   		.board-write
        {
        	margin-top: 10px;
            height: 35px;
            width: 100px;
            align-self: flex-end;   
            
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            background-color: transparent;
            border: none;
            font-weight: bolder;
            opacity: 0.5;
            font-size: 15px;
            cursor: pointer;
        }

        .board-write:hover{opacity: 0.8;}
        .board-write:focus{outline: none;}
        
        .board-data-title{
        	cursor: pointer;
        }
        
        .board-search-menu{
        	display: flex;
        	flex-flow: row nowrap;
        	margin-top: 5px;
        }
        .board-search-menu > div > input[type="text"]
        {
        	height : 25px;
        	width : 200px;
        	box-sizing: content-box;
        }
        
        .board-search-menu > div > input[type="button"]
        {
        	height : 26px;
        	margin: 20px 0;
            border: 2px solid rgb(134, 91, 62);
            border-radius: 1px;
            cursor: pointer;
            background-color: rgb(144, 101, 72);
            color:white;
            box-sizing: content-box;
        }
        
        .board-search-menu > div:nth-of-type(1){flex: 3 1 0;}
        .board-search-menu > div:nth-of-type(2){flex: 2 1 0;}
        .board-search-menu > div:nth-of-type(3){flex: 4 1 0;}
        .board-search-menu > div:nth-of-type(4){flex: 1 1 0;}
        
        
/*  공지사항 작성 관련 css */
        .board-form-wrapper
        {
            font-size: 14px;
        }
        .board-form input
        {
            padding: 5px;
            height: 30px;
            box-sizing: border-box;
            border: 1px solid #ccc;
        }
        .board-form input:focus
        {
            outline: none;
        }
        .board-form-header
        {
            font-size: 21px;
            margin: 25px 0;
        }
        .board-form
        {
            display: flex;
            flex-flow: column nowrap;
            border-top: 2px solid rgb(114, 71, 42);
        }
        .board-form > div
        {
            display: flex;
        }
        .board-form > div > div:first-of-type
        {
            background-color: rgb(245, 245, 245);
        }
        .board-form > div > div:first-of-type{flex: 1 1 0; justify-content: center;}
        .board-form > div > div:nth-of-type(2){flex: 7 1 0; display: flex;}
        .board-form > div > div 
        {
            display: flex;
            padding: 15px 0 15px 10px;
            align-items: center;
            border-bottom: 1px solid #ccc;
        }
        
        .board-form-title input{width: 100%;}
        
        .board-form-writer input{background-color: #eee;}
        .board-form-writer label{margin: 0 10px;}
        .board-form-content textarea
        {
            height: 300px;
            width: 100%;
            resize: none;
            border: 1px solid #ccc;
            padding: 5px;
        }
        .board-form-content textarea:focus
        {
            outline: none;
        }
        
         .added-image-box
        {
            width: 82px;
            height: 82px;
        }
        .added-image-box > img
        {
            width: 100%;
            height: 100%;
        }
        .image-upload-container
        {
            width: 80px;
            height: 80px;
            border: 1px dotted gray;
            position: relative;
            margin-right: 10px;
        }
        .image-upload-container:hover
        {
            background-color: #eee;
            border: 1px solid rgb(114, 71, 42);
        }
        .image-upload-container > input
        {
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
        .image-upload-container > span
        {
            font-size: 20px;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 0%;
            transform: translate(-50%, 0%);  
            cursor: pointer;
        }
        
         .board-button-set
        {
            align-self: flex-end;
        }
        .board-button-set input[type="submit"]
        {
            color: white;
            background-color: rgb(114, 71, 42);
            width: 150px;
            height: 45px;
            align-self: flex-end;
            margin: 20px 0;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            margin-left: 10px;
        }
        .board-button-set input[type="button"]
        {
            color: white;
            background-color: rgb(114, 71, 42);
            width: 150px;
            height: 45px;
            align-self: flex-end;
            margin: 20px 0;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }
        .board-button-set input[type="submit"]:hover
        {
            background-color: rgb(134, 91, 62);
        }
        .board-button-set input[type="button"]:hover
        {
            background-color: rgb(134, 91, 62);
        }
        
        
 /*  공지사항 상세보기 관련 css */
 
 		.board-view-wrapper
        {
            font-size: 14px;
        }

        .board-view-wrapper input
        {
            font-size: 12px;
            width: 120px;
            height: 40px;
            margin: 0;
            border: none;
            background-color: rgb(114, 71, 42);
            color: white;
            margin-left: 10px;
            border-radius: 2px;
            cursor: pointer;
        }

        .board-view-wrapper input:focus
        {
            outline: none;
        }
        
       	.board-view-wrapper input:hover
        {
        	background-color: rgb(134, 91, 62);
        }
        
         .board-view
        {
            display: flex;
            flex-flow: column nowrap;
            border-top: 2px solid rgb(114, 71, 42);
            border-bottom: 1px solid rgb(114, 71, 42);
        }

        .board-view > div
        {
            display: flex;  
            border-bottom: 1px solid #eee;
        }

        .board-view > div > div
        {
            display: flex;
            justify-items: flex-start;
            padding: 15px;
        }
        
        
        .board-view > div > div:nth-of-type(1){flex: 1 1 0;  background-color: rgb(245, 245, 245);}
        .board-view > div > div:nth-of-type(2){flex: 9 1 0;}

        .board-view-date-hit > div:nth-of-type(1){flex: 1 1 0 !important;padding-right: 21px !important;}
        .board-view-date-hit > div:nth-of-type(2){flex: 4 1 0 !important;}        
        .board-view-date-hit > div:nth-of-type(3){flex: 1 1 0; background-color: rgb(245, 245, 245) !important;}
        .board-view-date-hit > div:nth-of-type(4){flex: 4 1 0;}
        
        .board-view-content
        {
            display: flex;
			flex-flow: column nowrap;
        }
        
        .board-view-content > div
        {
            background-color: white !important;
            min-height: 200px;
            
        }
        
        .board-images
        {
        	margin-bottom: 100px;
        } 
        
        .board-images > img
        {
        	max-width: 100%;
        } 
        
        
        .board-view-btns
        {
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;
            padding-bottom: 200px;
        }