       
       
       
       .health-wrapper
        {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            font-size: 14px;
        }
        .health-view-background
        {
        	background-color: rgb(250,245,240);
        }
        
        
        .health-view-wrapper
        {
            display: flex;
            flex-flow: column nowrap;
            border: 1px solid rgb(200,200,200);
            margin: 70px 100px;
            color: black;
            background-color: white;
        }
        
        .health-title-wrapper
        {
        	display: flex;
            flex-flow: row nowrap;
        }
        .health-view-title-wrapper
        {
        	display: flex;
            flex-flow: row nowrap;
            border-bottom: 1px solid rgb(200,200,200);
            height: 80px;
            
        }
        
        .health-view-title-wrapper > div > span
        {
        	cursor: pointer;
        	border-radius: 15px;
        }
        
        .health-view-title-wrapper > div:nth-of-type(1){flex: 9 1 0;font-size: 20px; text-align: left; padding:30px;}
        .health-view-title-wrapper > div:nth-of-type(2){flex: 1 1 0;display: flex; flex-flow: row nowrap; padding:16px;}
        .health-view-content-wrapper
        {
        	padding:70px;
        	min-height: 700px;
        	display: flex;
        	
			flex-flow: column nowrap;
        }
        .health-view-content-wrapper > div
        {
        	font-size: 15px;
			text-align: left;
        }
        
        .health-view-content-wrapper > div > pre
        {
        	white-space: pre-line;
        }
        
        
         .health-title-wrapper > div > input[type="text"]
        {
        	height : 30px;
        	width : 230px;
        	box-sizing: content-box;
        }
        
        .health-title-wrapper > div > input[type="button"]
        {
        	height : 31px;
        	margin: 20px 0;
            border: 2px solid rgb(134, 91, 62);
            border-radius: 1px;
            cursor: pointer;
            background-color: rgb(144, 101, 72);
            color:white;
            box-sizing: content-box;
        }
        
        .health-title-wrapper > div:nth-of-type(1){flex: 2 1 0;}
        .health-title-wrapper > div:nth-of-type(2){flex: 4 1 0;}
        .health-title-wrapper > div:nth-of-type(3){flex: 1 1 0;}
        .health-title-wrapper > div:nth-of-type(4){flex: 3 1 0;}
        
        .health-title
        {
           font-size: 25px;
           padding: 25px 0;
        }
        
        .health-subtitle
        {
           font-size: 14px;
           padding: 35px 0;
           text-align: left;
        }
        .health-category-wrapper
        {
        	display: flex;
            flex-flow: row wrap;
            border: 4px double rgb(134, 91, 62);
            padding: 10px;
        
        }
        .health-category
        {
        	padding: 10px;
        	border: 2px solid white;
        	border-radius: 10px;
        	cursor: pointer;
        }
        .health-category img
        {
        	width: 55px;
        	height: 55px;
        }
        .health-category:hover
        {
        	background-color: rgb(240,240,240);
        	color: black;
        }
        .category-selected
        {
        	border: 1px solid black;
        	background-color: rgb(240,240,240);
        	color: black;
        	font-weight:bold;
        	
        }
        .category-title
        {
           margin-top: 40px;
           margin-left: 20px;
           margin-bottom: 10px;
           font-size: 20px;
           text-align: left;
           font-weight:bold;
        }
        .health-preview
        {
            border-top: 2px solid rgb(139, 85, 38);
            border-bottom: 1px solid #ccc;
            padding-top: 30px;
            padding-bottom: 30px;
        	display: flex;
            flex-flow: row wrap;
        }
        
        .health-preview-element
        {
        	border: 1px solid rgb(190, 140, 108);
        	display: flex;
            flex-flow: column nowrap;
            margin: 14px;
            width: 300px;
            height: 380px;
            cursor: pointer;
        }
        .health-preview-element:hover
        {
        	background-color: rgb(245,245,245);
        	border: 1px solid black;
        	color: black;
        }
        .health-preview-image
        {
        	width: 300px;
        	height: 300px;
        	border-bottom: 1px solid rgb(190, 140, 108);
        }
        
        .health-preview-title
        {
        
        	font-size:17px;
        	display: flex;
        	align-items: center;
  			justify-content: center;
        	padding : 10px;
        	height: 100%;
        	text-align: left;
        }
        
        
        
        
         .pagebar img
        {
            width: 50%;
            height: 50%;
        }

        .pagebar
        {
            display: flex;
            align-self: center;
            margin: 40px;
            font-size: 14px;
            color: black;
        }
        

        .pagebar div
        {
            width: 33px;
            height: 33px;
            border: 1px solid rgb(220, 220, 220);
            border-left: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .pagebar div:first-of-type
        {
            border-left: 1px solid rgb(220, 220, 220);
        }
        
        .pagebar a
        {
           display: flex;
           width: 100%;
           height: 100%;
           align-items: center;
           justify-content: center;
           text-decoration: none;
           color: black;
        }
        .currentPage
        {
        	background-color: rgb(240,240,240);
        }
        
        
         .health-write
        {
           margin-top: 10px;
            height: 35px;
            width: 100px;
            align-self: flex-end;   
            
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            background-color: transparent;
            border: none;
            font-weight: bolder;
            opacity: 0.5;
            font-size: 15px;
            cursor: pointer;
        }

        .health-write:hover{opacity: 0.8;}
        .health-write:focus{outline: none;}
        
        .health-view-images
        {
        	margin-bottom: 100px;
        } 
        
        .health-view-images > img
        {
        	max-width: 100%;
        }
        
		.health-view-btns
		{
			display: flex;
            justify-content: flex-end;
            padding: 10px;
		}
		
		.health-view-btns input
        {
            font-size: 12px;
            width: 120px;
            height: 40px;
            margin: 0;
            border: none;
            background-color: rgb(114, 71, 42);
            color: white;
            margin-left: 10px;
            border-radius: 2px;
            cursor: pointer;
        }

        .health-view-btns input:focus
        {
            outline: none;
        }
        
       	.health-view-btns input:hover
        {
        	background-color: rgb(134, 91, 62);
        }