/* 회원가입 */
div#enroll-container {
	width: 400px;
	margin: 0 auto;
	/* text-align: center; */
	
}

div#enroll-container input, div#enroll-container select {
	margin-bottom: 10px;
	
}

/*중복아이디체크관련*/

div#userid-container {
	position: relative;
	padding: 0px;
	
}

div#userid-container span.guide {
	display: none;
	font-size: 12px;
	position: absolute;
 	top: 12px;
	right: 10px; 
}

div#userid-container2 span.guide2 {
	display: none;
	font-size: 12px;
 	top: 12px;
	right: 10px; 
}

div#userid-container span.ok {
	color: green;
}

div#userid-container span.error {
	color: red;
}
div#userid-container2 span.ok {
	color: green;
}

div#userid-container2 span.error {
	color: red;
}
/* 회원가입_end */
 table#tbl-dev{
      margin:0 auto;
      width:50%;
   }
