

#petEnroll-container {
    width: 100%;
    height: 410px;
    padding-top: 20px;
}

#petEnroll-container>form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#petEnroll-container .petEnroll-containerBox {
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(198, 155, 118, 0.5);
    border-radius: 5px;
}

#petEnroll-container .petEnroll-containerRow {
    width: 290px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#petEnroll-container .petEnroll-containerCol1 {
    width: 150px;
    text-align: left;
}

#petEnroll-container .petEnroll-containerCol2 {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#petEnroll-container .memberImageBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}





#petEnroll-container .memberImageBox {
	width: 100%;
	height: 100px;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#petEnroll-container .memberImage {
	width: 100px;
	height: 100px;
	position: relative;
}

#petEnroll-container .petImageBox{
	
}

#petEnroll-container .image_section {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	top:0px;
	left: 0px;
}

#petEnroll-container .inputBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	border: 1px solid #9fa3b1;
}

#petEnroll-container .memberImage .inputBackground>div {
	position: relative;
	width: 100%;
    height: 100%;
}

#petEnroll-container .memberImage .fileUploadIcon {
	position: absolute;
	top: 0px;
    left: 0px;
    background-color: rgba(198, 155, 118, 0.5);
	border-radius: 50px;
}

#petEnroll-container .profileImgBox {
	position: absolute;
	cursor: pointer;
	opacity: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}


#petEnroll-container #petType {
	height: 26px;
	
}

.defaultBtn2:hover {
	outline: none;
    padding: 5px;
    margin: 0 5px;
    margin-bottom:15px;
    margin-left:20px;
    color: #9a7654;
    background-color: white;
    border: 1px solid #9a7654;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}

.defaultBtn2 {
	outline: none;
    padding: 5px;
    margin: 0 5px;
    margin-bottom:15px;
    margin-left:20px;
    color: white;
    background-color: #50351a;
    border: 1px solid #50351a;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}
