

#myPage_msgList {
    width: 100%;
    min-height: 430px;
}

#myPage_msgList .msgListTop {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myPage_msgList .msgListSearch {
    margin-right: 10px;
    display: flex;
}

#myPage_msgList .msgListSearch {
    margin-right: 10px;
    display: flex;
}

#myPage_msgList .mlSearchText {
    outline: none;
    color: #c69c76;
    border: 1px solid #c69c76;
    transition: 500ms;
}

#myPage_msgList .mlSearchBtn {
    outline: none;
    padding: 5px;
    color: #fff;
    background-color: #50351a;
    border: 1px solid #50351a;
    transition: 500ms;
    cursor: pointer;
}

#myPage_msgList .mlSearchBtn:hover {
    outline: none;
    padding: 5px;
    color: #9a7654;
    background-color: #fff;
    border: 1px solid #9a7654;
    transition: 500ms;
    cursor: pointer;
}

#myPage_msgList .msgListBtn {
    outline: none;
    padding: 5px;
    color: #9a7654;
    background-color: #fff;
    border: 1px solid #9a7654;
    transition: 500ms;
    cursor: pointer;
}

#myPage_msgList .msgListBtn:hover {
    outline: none;
    padding: 5px;
    color: #fff;
    background-color: #50351a;
    border: 1px solid #50351a;
    transition: 500ms;
    cursor: pointer;
}

#myPage_msgList .msgListTable {
    border-top: 2px solid rgb(139, 85, 38);
    margin: 10px;
}

#myPage_msgList .msgListTitle {
    width: 100%;
    padding: 15px 0;
    display: table;
    border-bottom: 1px solid #ccc;
}

#myPage_msgList .msgListContentAjax {
    min-height: 256px;
    border-bottom: 1px solid black;
}

#myPage_msgList .msgListContent {
    width: 100%;
    padding: 10px 0;
    display: table;
    border-bottom: 1px solid #ccc;
}

#myPage_msgList .msgListColcc {
    width: 50px;
    display: table-cell;

}

#myPage_msgList .msgListColRecUser {
    width: 100px;
    display: table-cell;

}

#myPage_msgList .msgListTitle .msgListColCont {
    display: table-cell;

}

#myPage_msgList .msgListContent .msgListColCont {
    display: table-cell;
    text-align: left;
    text-indent: 15px;

}

#myPage_msgList .msgListColDate {
    width: 100px;
    display: table-cell;

}

#myPage_msgList .msgListColBlock {
    width: 110px;
    display: table-cell;

}


/* 영우 pagebar css */
#myPage_msgList .pagebar img
{
    width: 50%;
    height: 50%;
}

#myPage_msgList .pagebar
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-size: 14px;
    color: black;
}


#myPage_msgList .pagebar div
{
    width: 33px;
    height: 33px;
    border: 1px solid rgb(220, 220, 220);
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#myPage_msgList .pagebar div:first-of-type
{
    border-left: 1px solid rgb(220, 220, 220);
}

#myPage_msgList .pagebar a
{
   display: flex;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: black;
}
