/* petlist */
.petListBox {
	width: 100%;
	height: 542px;;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

.petListOne {
	
}

.petListOne img{
	border-radius: 50px;
	width:100px;
	height:100px;
}


.petListOneBtnBox {
	display: flex;
	justify-content: center;
	align-content: center;
}
/* pet-enroll */
.fileUploadIcon {
	border-radius: 50px;
}

.inputBackground div .profileImgBox {
	test-align: left;
}

.petForm {
	text-align: left;
}

.petForm * {
	margin-bottom: 20px;
}