/* form#leftselect .areaaddress {
	width: 293px;
	height: 30px;
	padding: 1px 8px;
}

form#leftselect .vettype {
	width: 293px;
	height: 36px;
	padding: 1px 5px;
} */

select#vettype.vettype {
	width: 293px;
	height: 31px;
	padding: 1px 5px;
}

input#keyword.areaaddress {
	width: 293px;
	height: 32px;
	padding: 1px 8px;
}

div#leftsearch {
	width: 29%;
	height: 350px;
	display: inline-block;
	vertical-align: top;
}

div#selectlist {
	width: 300px;
	height: 388px;
	display: inline-block;
	vertical-align: top;
}

div#map {
	width: 70%;
	height: 460px;
	display: inline-block;
	vertical-align: top;
}

div .vetListBox {
	border: 1px solid gray;
	width: 293px;
	height: 50px important;
	padding: 6px 6px;
	vertical-align: top;
}

div .vetListBox:hover {
	color: rgba(77, 80, 89);
	background-color: rgba(240, 240, 240);
	transition: 500ms;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

div .vetListName {
	font-size: 12px;
	color: black;
	margin: 2px
}

div .vetListAddress {
	font-size: 9px;
	color: gray;
	margin: 2px;
}

ul .pagination {
	list-style : none;
	margin: 0;
	padding : 0;
}

li .page-item{
	color: black;
	float: left;
	padding: 8px; 16 px;
	text-decoration: none;
	transition: background-color .5s;
}

li .page-item.active {
	backgound-color :#4CAF50;
	color : white;
}
