<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<select id="selectCommentList" parameterType="_int" resultType="boardComment">
	SELECT A.*,B.* FROM boardReply A join member B on(A.memberSeq=B.memberSeq) WHERE boardSeq=#{boardSeq} start with commentLevel=1 connect by prior commentSeq=commentRef order siblings by commentDate desc
	</select>

	<select id="selectCount" parameterType="boardSearch" resultType="_int">
		<choose>
			<when test='keyword!=null and keyword!=""'>
				select count(*) from board where boardTitle like '%'||#{keyword}||'%' OR boardContent like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				select count(*) from board
			</otherwise>
		</choose>
	</select>

	<select id="selectList" parameterType="boardSearch" resultType="board">
		<choose>
			<when test='keyword!=null and keyword!=""'>
				select * from board join Member using(memberSeq) where boardTitle like '%'||#{keyword}||'%' OR boardContent like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				select B.*, A.*,(select count(*) from attachment where B.boardseq=boardno) filecount from board B join member A on(A.memberseq=B.memberseq) order by boarddate desc
			</otherwise>
		</choose>
	</select>

	<insert id="insertBoard" parameterType="board">
		insert into board values(boardseq.nextval,#{memberSeq},#{boardTitle},#{boardContent},default,default)
		<selectKey keyProperty="boardSeq" resultType="_int" order="AFTER">select boardseq.currval from dual</selectKey>
	</insert>

	<insert id="commentInsert" parameterType="boardComment">
		<choose>
		<when test='commentRef!=null and commentRef=""'>
			insert into boardReply values(commentSeq.nextval,#{memberSeq},#{boardSeq},#{commentRef},sysdate,#{commentText},#{commentLevel})
		</when>
		<otherwise>
			insert into boardReply values(commentSeq.nextval,#{memberSeq},#{boardSeq},null,sysdate,#{commentText},#{commentLevel})
		</otherwise>
		</choose>
	</insert>

	<insert id="insertAttachment" parameterType="attachment">
		insert into attachment(attachmentno, boardno, originalfilename, renamedfilename) values(seq_attachmentno.nextval,#{boardNo},#{originalFileName},#{renamedFileName})
	</insert>

	<select id="selectBoard" parameterType="_int" resultType="board">
		select B.*, A.* from board B join member A on(A.memberseq=B.memberseq) where boardSeq=#{boardSeq}
	</select>

	<select id="selectAttachment" parameterType="_int" resultType="attachment">
		select * from attachment where boardno=#{boardNo}
	</select>

  	<delete id="deleteBoard" parameterType="_int">
  		delete from board where boardSeq=#{boardSeq}
  	</delete>

	<update id="updateBoard" parameterType="board">
		update board set boardTitle=#{boardTitle}, boardContent=#{boardContent} where boardSeq=#{boardSeq}
	</update>

	<update id="addreadcount" parameterType="_int">
 	update board set boardreadCount = boardreadCount+1 where boardSeq = #{boardSeq}
 	</update>

 	<delete id="commentDelete" parameterType="_int">
 		delete from boardReply where commentSeq=#{commentSeq}
 	</delete>

</mapper>
