<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community">

	<select id="selectList" resultType="memberFriend">
		SELECT * FROM MEMBERFRIEND
	</select>

	<select id="inSelectList" parameterType="memberFriend" resultType="memberFriend">
		SELECT * FROM MEMBERFRIEND WHERE MEMBERSEQ = #{memberSeq} AND MFRIENDTYPE = '일반'
	</select>

	<select id="blSelectList" parameterType="memberFriend" resultType="memberFriend">
		SELECT * FROM MEMBERFRIEND WHERE MEMBERSEQ = #{memberSeq} AND MFRIENDTYPE = '차단'
	</select>

	<select id="selectOne" resultType="memberFriend">
		SELECT * FROM MEMBERFRIEND WHERE MEMBERSEQ = #{memberSeq} AND MFRIENDNICKNAME = #{mFriendNickname}
	</select>

	<select id="mSelectOne" parameterType="member" resultType="member">
		SELECT * FROM MEMBER WHERE MEMBERNICKNAME = #{memberNickname}
	</select>

	<insert id="insertFriend" parameterType="memberFriend">
		INSERT INTO MEMBERFRIEND VALUES(mFriendSeq.nextval,#{memberSeq},#{mFriendMateNo},#{mFriendNickname},default,#{mFriendType})
	</insert>
	
	<delete id="delFriend" parameterType="memberFriend">
		DELETE FROM MEMBERFRIEND WHERE MFRIENDSEQ = #{mFriendSeq}
	</delete>
	
	<update id="updateTypeFriend" parameterType="memberFriend">
		UPDATE MEMBERFRIEND SET MFRIENDTYPE = #{mFriendType} WHERE MFRIENDNICKNAME = #{mFriendNickname}
	</update>
	
	<select id="mmCount" parameterType="memberMsg" resultType="_int">
		SELECT COUNT(*) FROM MEMBERMSG WHERE MMSGRCVNICKNAME = #{memberNickname } AND MMSGTYPE = #{mMsgType}
	</select>
	
	<select id="mmSelectList" parameterType="memberMsg" resultType="memberMsg">
		SELECT * FROM MEMBERMSG WHERE MMSGRCVNICKNAME = #{memberNickname } AND MMSGTYPE = #{mMsgType} ORDER BY MMSGDATE DESC
	</select>
	
	<select id="mmSelectOne" parameterType="memberMsg" resultType="memberMsg">
		SELECT * FROM MEMBERMSG WHERE MMSGSEQ = #{mMsgSeq}
	</select>
	
	<insert id="insertMsg" parameterType="memberMsg">
		INSERT INTO MEMBERMSG VALUES(mMsgSeq.nextval,#{memberNickname},default,#{mMsgRcvNickname},#{mMsgContent},default,default,default)
	</insert>
	
	<delete id="delMsg" parameterType="memberMsg">
		DELETE FROM MEMBERMSG WHERE MMSGSEQ = #{mMsgSeq}
	</delete>
	
	<update id="mmUpdateRead" parameterType="memberMsg">
		UPDATE MEMBERMSG SET MMSGREAD = 'Y' WHERE MMSGSEQ = #{mMsgSeq}
	</update>
	
	<update id="mmUpdateType" parameterType="memberMsg">
		UPDATE MEMBERMSG SET MMSGTYPE = #{mMsgType} WHERE MEMBERNICKNAME = #{memberNickname} AND MMSGRCVNICKNAME = #{mMsgRcvNickname}
	</update>
	
</mapper>
