<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="health">
<select id="healthCount" parameterType="boardSearch" resultType="_int">
	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		select count(*) from HealthInfo where (infoTitle like '%'||#{keyword}||'%' OR infoContent like '%'||#{keyword}||'%')
	 	</when>
	 	<otherwise>
	 		select count(*) from HealthInfo where 1=1
		</otherwise>
 	</choose>
 	<if test='type != null and type neq "All" and type neq ""'>
 			AND petType = #{type}
 	</if>
</select>
<select id="healthList" parameterType="boardSearch" resultType="healthInfo">
 	select A.*, (select filename from InfoImage where priority = 1 and A.infoSeq = infoSeq) as "filename" from HealthInfo A
   	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		where (infoTitle like '%'||#{keyword}||'%' OR infoContent like '%'||#{keyword}||'%')
	 	</when>
	 	<otherwise>
	 		where 1=1
		</otherwise>
 	</choose>
 	<if test='type != null and type neq "All" and type neq ""'>
 			AND petType = #{type}
 	</if>
 	<choose>
 		<otherwise>
 			order by infoSeq desc
 		</otherwise>
 	</choose>
 </select>
 <insert id="insertInfo" parameterType="healthInfo">
 	insert into HealthInfo values(infoSeq.nextval, #{petType}, #{infoTitle}, #{infoContent})
 	<selectKey keyProperty="infoSeq" resultType="_int" order="AFTER">
 	select infoSeq.currval from dual
 	</selectKey>
 </insert>
 <insert id="insertInfoImage" parameterType="image">
 	insert into InfoImage values(#{filename}, #{refseq}, #{priority})
 </insert>
 <select id="selectOne"  parameterType="_int" resultType="healthInfo">
 	select * from healthInfo where infoSeq = #{no}
 </select>
 <select id="infoImageList" parameterType="_int" resultType="string">
 	select filename from InfoImage where infoSeq = #{no} order by priority asc
 </select>
  <delete id="deleteInfoImage" parameterType="string">
 	delete from InfoImage where filename = #{string}
 </delete>
  <delete id="deleteInfo" parameterType="_int">
    delete from HealthInfo where infoSeq = #{infoSeq}
 </delete>
</mapper>
