<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
 
 <select id="selectOne" parameterType="member" resultType="memberMap">
 SELECT * FROM MEMBER WHERE USEREMAIL=#{userEmail}
 </select>
 
 <insert id="insertMember" parameterType="member">
 INSERT INTO MEMBER VALUES(#{memberSeq},#{memberEmail},#{memberPassword},#{memberNickname},#{memberName},#{memberPhone},#{memberAddress},#{memberType},#{memberEnrolldate},#{memberQuitdate},)
 </insert>
 
</mapper>
