<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeandevent">
 <select id="noticeCount" parameterType="boardSearch" resultType="_int">
 	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		select count(*) from notice where noticeTitle like '%'||#{keyword}||'%' OR noticeContent like '%'||#{keyword}||'%'
	 	</when>
	 	<otherwise>
	 		select count(*) from notice
		</otherwise>
 	</choose>
 </select>
 <select id="noticeList" parameterType="boardSearch" resultType="notice">
  	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		select * from notice join Member using(memberSeq) where noticeTitle like '%'||#{keyword}||'%' OR noticeContent like '%'||#{keyword}||'%'
	 	</when>
	 	<otherwise>
	 		select * from notice join Member using(memberSeq)
		</otherwise>
 	</choose>
 	<choose>
 		<otherwise>
 			order by noticeSeq desc
 		</otherwise>
 	</choose>
 </select>
 <insert id="insertNotice" parameterType="notice">
 	insert into notice values(noticeSeq.nextval, #{memberSeq}, #{noticeTitle}, #{noticeContent}, 0, sysdate)
 		<selectKey keyProperty="noticeSeq" resultType="_int" order="AFTER">
 		select noticeSeq.currval from dual
 		</selectKey>
 </insert>
 <insert id="insertImage" parameterType="image">
    insert into NoticeImage values(#{filename}, #{refseq}, #{priority})
 </insert>
 <select id="noticeImageList" parameterType="_int" resultType="string">
 	select filename from NoticeImage where noticeseq = #{viewNo} order by priority asc
 </select>
 <delete id="deleteImageAll" parameterType="_int">
 	delete from NoticeImage where noticeSeq = #{noticeSeq}
 </delete>
 <delete id="deleteNotice" parameterType="_int">
    delete from Notice where noticeSeq = #{noticeSeq}
 </delete>
 <update id="addReadcount" parameterType="_int">
 	update notice set readcount = readcount+1 where noticeSeq = #{noticeSeq}
 </update>
 <select id="selectOne" parameterType="_int" resultType="notice">
 	select * from notice join Member using(memberSeq) where noticeSeq = #{noticeSeq}
 </select>
 <update id="updateNotice" parameterType="notice">
 	update notice set noticeTitle = #{noticeTitle}, noticeContent = #{noticeContent} where noticeSeq = #{noticeSeq}
 </update>
 <delete id="deleteImage" parameterType="string">
 	delete from NoticeImage where filename = #{filename}
 </delete>
  <select id="eventCount" parameterType="boardSearch" resultType="_int">
 	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		select count(*) from event where (eventTitle like '%'||#{keyword}||'%' OR eventContent like '%'||#{keyword}||'%') AND sysdate <![CDATA[>]]> eventstart and sysdate <![CDATA[<]]> eventfinish 
	 	</when>
	 	<otherwise>
	 		select count(*) from event where sysdate <![CDATA[>]]> eventstart and sysdate <![CDATA[<]]> eventfinish
		</otherwise>
 	</choose>
 </select>
</mapper>
