<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeandevent">
 <select id="noticeCount" parameterType="boardSearch" resultType="_int">
 	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		select count(*) from notice where noticeTitle like '%'||#{keyword}||'%' OR noticeContent like '%'||#{keyword}||'%'
	 	</when>
	 	<otherwise>
	 		select count(*) from notice
		</otherwise>
 	</choose>
 </select>
 <select id="noticeList" parameterType="boardSearch" resultType="notice">
  	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		select * from notice join Member using(memberSeq) where noticeTitle like '%'||#{keyword}||'%' OR noticeContent like '%'||#{keyword}||'%'
	 	</when>
	 	<otherwise>
	 		select * from notice join Member using(memberSeq)
		</otherwise>
 	</choose>
 </select>
 <insert id="insertNotice" parameterType="notice">
 	insert into notice values(noticeSeq.nextval, #{memberSeq}, #{noticeTitle}, #{noticeContent}, 0, sysdate)
 		<selectKey keyProperty="noticeSeq" resultType="_int" order="AFTER">
 		select noticeSeq.currval from dual
 		</selectKey>
 </insert>
 <insert id="insertImage" parameterType="image">
    insert into NoticeImage values(#{filename}, #{refseq}, #{priority})
 </insert>
</mapper>
