<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeandevent">
 <select id="noticeCount" parameterType="boardSearch" resultType="_int">
 	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		select count(*) from notice where noticeTitle like '%'||#{keyword}||'%' OR noticeContent like '%'||#{keyword}||'%'
	 	</when>
	 	<otherwise>
	 		select count(*) from notice
		</otherwise>
 	</choose>
 </select>
 <select id="noticeList" parameterType="boardSearch" resultType="notice">
  	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		select * from notice join Member using(memberSeq) where noticeTitle like '%'||#{keyword}||'%' OR noticeContent like '%'||#{keyword}||'%'
	 	</when>
	 	<otherwise>
	 		select * from notice join Member using(memberSeq)
		</otherwise>
 	</choose>
 	<choose>
 		<otherwise>
 			order by noticeSeq desc
 		</otherwise>
 	</choose>
 </select>
 <insert id="insertNotice" parameterType="notice">
 	insert into notice values(noticeSeq.nextval, #{memberSeq}, #{noticeTitle}, #{noticeContent}, 0, sysdate)
 		<selectKey keyProperty="noticeSeq" resultType="_int" order="AFTER">
 		select noticeSeq.currval from dual
 		</selectKey>
 </insert>
 <insert id="insertEvent" parameterType="event">
 	insert into event values(eventSeq.nextval, #{memberSeq}, #{eventTitle}, #{eventContent}, 0, #{eventStart}, #{eventFinish})
 		<selectKey keyProperty="eventSeq" resultType="_int" order="AFTER">
 		select eventSeq.currval from dual
 		</selectKey>
 </insert>
 <insert id="insertImage" parameterType="image">
    insert into NoticeImage values(#{filename}, #{refseq}, #{priority})
 </insert>
 <insert id="insertEventImage" parameterType="image">
    insert into EventImage values(#{filename}, #{refseq}, #{priority})
 </insert>
 <select id="noticeImageList" parameterType="_int" resultType="string">
 	select filename from NoticeImage where noticeseq = #{viewNo} order by priority asc
 </select>
  <select id="eventImageList" parameterType="_int" resultType="string">
  	select filename from EventImage where eventseq = #{no} order by priority asc
  </select>
 <delete id="deleteImageAll" parameterType="_int">
 	delete from NoticeImage where noticeSeq = #{noticeSeq}
 </delete>
 <delete id="deleteNotice" parameterType="_int">
    delete from Notice where noticeSeq = #{noticeSeq}
 </delete>
 <update id="addReadcount" parameterType="_int">
 	update notice set readcount = readcount+1 where noticeSeq = #{noticeSeq}
 </update>
 <update id="addEventReadCount" parameterType="_int">
   update event set readcount = readcount+1 where eventSeq = #{no}
 </update>
 <select id="selectOne" parameterType="_int" resultType="notice">
 	select * from notice join Member using(memberSeq) where noticeSeq = #{noticeSeq}
 </select>
 <select id="selectEvent" parameterType="_int" resultType="event">
 	select * from event join Member using(memberSeq) where eventSeq = #{no}
 </select>
 <update id="updateNotice" parameterType="notice">
 	update notice set noticeTitle = #{noticeTitle}, noticeContent = #{noticeContent} where noticeSeq = #{noticeSeq}
 </update>
 <delete id="deleteImage" parameterType="string">
 	delete from NoticeImage where filename = #{filename}
 </delete>
  <select id="eventCount" parameterType="boardSearch" resultType="_int">
 	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		select count(*) from event where (eventTitle like '%'||#{keyword}||'%' OR eventContent like '%'||#{keyword}||'%')
	 	</when>
	 	<otherwise>
	 		select count(*) from event where 1=1
		</otherwise>
 	</choose>
 	<choose>
 		<when test='type eq "all"'>
 		</when>
 		<when test='type eq "finish"'>
 			AND (sysdate <![CDATA[<]]> eventstart or sysdate-1 <![CDATA[>]]> eventfinish)
 		</when>
 		<otherwise>
 			AND (sysdate <![CDATA[>]]> eventstart and sysdate-1 <![CDATA[<]]> eventfinish)
 		</otherwise>
 	</choose>
 </select>
 <select id="eventList" parameterType="boardSearch" resultType="event">
 	select A.*,B.*, (select filename from eventImage where priority = 1 and A.eventSeq = eventSeq) as "filename" from event A join Member B on(A.memberSeq = B.memberSeq)
   	<choose>
	 	<when test='keyword!=null and keyword!=""'>
	 		where (eventTitle like '%'||#{keyword}||'%' OR eventContent like '%'||#{keyword}||'%')
	 	</when>
	 	<otherwise>
	 		where 1=1
		</otherwise>
 	</choose>
 	 <choose>
 		<when test='type eq "all"'>
 		</when>
 		<when test='type eq "finish"'>
 			AND (sysdate <![CDATA[<]]> eventstart or sysdate-1 <![CDATA[>]]> eventfinish)
 		</when>
 		<otherwise>
 			AND (sysdate <![CDATA[>]]> eventstart and sysdate-1 <![CDATA[<]]> eventfinish)
 		</otherwise>
 	</choose>
 	<choose>
 		<otherwise>
 			order by eventSeq desc
 		</otherwise>
 	</choose>
 	
 </select>
</mapper>
