<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vet">
	<select id="vetList" resultType="vet">
		select * from vet
	</select>
	<select id="selectCount" parameterType="map" resultType="_int">
	<if test="!type.equals('all')">
	select count(*) from vet join vetCategory using(vetSeq) where vetAddress like '%'||#{search}||'%' AND animalType = #{type}
	</if>
	<if test="type.equals('all')">
	select count(*) from vet where vetAddress like '%'||#{search}||'%'
	</if>
	</select>
	
	<select id="selectList" parameterType="map" resultType="vet">
	<if test="!type.equals('all')">
	select * from vet join vetCategory using(vetSeq) where vetAddress like '%'||#{search}||'%' AND animalType = #{type}
	</if>
	<if test="type.equals('all')">
	select * from vet where vetAddress like '%'||#{search}||'%'
	</if>
	</select>
		
	<select id="selectVet" parameterType="_int" resultType="vet">
	select * from vet where vetSeq=#{vetSeq}
	</select>
	
	<select id="selectVetCate" parameterType="_int" resultType="vet">
	select * from vetCategory where vetSeq=#{vetSeq}
	</select>
	
	<select id="selectVetServ" parameterType="_int" resultType="vet">
	select * from vetService where vetSeq=#{vetSeq}
	</select>
		
	
	
</mapper>